* {
    background-color: white;
}

.header {
    display: flex;
    background-color: lightgray;
    padding: 2.5%;
}

.name {
    font-size: 2.5rem;
    background-color: darkgray;
    padding: 2.5%;
    border: 0.25rem solid black;
}

section {
    display: flex;
}